@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@300&display=swap');

/*estilos generales*/
html {	
	font-size: 50%;
}

a {
	text-decoration: none;
	color: black;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}

	header, main, aside, footer {
		color: black;
		font-weight: 300;
		font-size: 2rem;
		background-color: white;
	}

	h1 {
		font-size: 3rem;
		font-weight: 600;
		font-family: 'Roboto', sans-serif;
		text-align: center;
		color: 000000;
		margin: 10px;
	}

	h2 {
		font-size: 2rem;font-weight: 600;
		font-family: 'Roboto', sans-serif;
		text-align: center;
		color: 000000;
		margin: 10px;
	}

	p {
		font-size: 1.5rem;
		font-weight: 200;
		font-family: 'Roboto', sans-serif;
		text-align: justify;
		color: 000000;
		margin: 10px;
	}

	/*estilos para movile y general base*/

	body {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto auto; 
		grid-template-areas: "header" "main" "aside" "footer";
	}

	.logo {
		width: 150px;
		margin-left: 20px;
		margin-top: 5px;		
	}

	/*estilos cabecera*/

	header {
		background-color: rgba(228,247,247, .6);
		grid-area: header;
		position: sticky;
		width: 100%;
		top: 0;
		display: inline-flex;		
		justify-content: space-between;
		align-items: center;
	}

	header a {
		text-decoration: none;
	}

	nav	{
		padding: 5px;
		margin-right: 20px;
		font-size: 1.2rem;
	}	

	nav ul li {
		list-style: none;
		margin: 2px;
	}

	nav ul li a {
		color: black;
		text-decoration: none;
	}

	header nav ul li a:hover {
	color: black;
	font-weight: 600;
	}

	/*estilos contenido principal*/
	
	main {
		background-color: papayawhip;
		padding: 10px;
		text-align: justify;
		grid-area: main;
		display: inline-block;
		flex-flow: column;
		justify-items: center;
	}

	/*estilos aside*/

	aside {
		background-color: rgba(252,184,20, .7);
		padding: 5px;
		grid-area: aside;
		display: flex;
		flex-flow: column wrap;
		text-align: center;
		font-size: 2rem;
	}

	aside ul {
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: center;
		font-size: 1.5rem;

	}

	aside ul li {
		margin-right: 4px;
		margin-bottom: 4px;

	}

	
	

	/*estilos footer*/

	footer {
		background-color: rgba(228,247,247, .6);
		padding: 10px;
		text-align: center;
		grid-area: footer;
		display: inline-block;
		justify-items: center;
		align-items: center;
	}

	footer a img {
		display: inline-flex;
		width: 30px;
		height: 30px;
		margin-top: 10px;
	}



	/*estilos productos y servicios*/

	.contenedor__fotos {
	width: 100%;
	height: auto;
	display: inline-block;
	flex-wrap: column wrap;
	text-align: center;
	}

	.contenedor__fotos .card {
	background-color: white;
	width: 100%;
	height: 400px;
	border-radius: 10px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
	overflow: hidden;
	margin: 10px 0;
	text-align: center;
	transition: all 0.5s;
	margin-top: 20px;
	margin-bottom: 20px;
	z-index: 10;
	}

	.contenedor__fotos .card:hover {
	transform: translateY(-15px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.8);
	}

	.contenedor__fotos .card img {
	margin: 10px;
	width: 90%;
	height: 200px;
	object-fit: cover;
	}



	.contenedor__fotos .card h1 {
	font-size: 2rem;
	font-family: 'Roboto', sans-serif;
	}

	.contenedor__fotos .card p {
	font-size: 1.5rem;
	font-weight: 100;
	text-align: justify;
	font-family: 'Roboto', sans-serif;
	margin: 10px;
	}

	.foto__nosotros {
		width: 100%;

	}


	/*estilos productos y servicios*/

	/*estilos form y maps*/

	form {
		background-color: rgba(196,196,196,0.5);
		width: 100%;
		margin: 10px 0;
		text-align: center;
		padding: 10px;	
		font-size: 1.5rem;
		font-weight: 400;
			
	}

	form label {
		display: block;
		margin: 5px 0;
	}

	form input {
		margin: 5px;
		text-align: center;
		width: 80%;		
		font-size: 2rem;
	}

	form .text_area {
		width: 80%;
		height: 300px;
	}

	form .boton {
		width: 80px;
	}

	form ::placeholder {
		font-size: 1.5rem;
		text-align: center;
	}

	form .text_area::placeholder {
		line-height: 200px;
	}

	.maps {
		text-align: center;
		width: 100%;
		height: 300px;
		border: none;
	}
	/*estilos form y maps*/

	#faqs p {
		text-align: center;
		margin: 20px;
	}

	/*estilos 425px*/

	@media only screen and (min-width: 425px){

		header {
			justify-content: space-between;
			margin-bottom: 5px;
			padding: 0px;			
		}

		nav ul li {
			display: inline-flex;
			font-size: 1.3rem;
			padding-top: 40px;			
		}

		.contenedor__fotos {
			width: 100%;
			height: auto;
			display: inline-flex;
			flex-wrap: wrap;
			justify-content: safe center;
		}	

		.contenedor__fotos .card {
			width: 400px;
			height: 400px;			
		}


	}

	@media only screen and (min-width: 500px){

		header nav ul li{
			font-size: 1.6rem;
			padding-top: 40px;
		}


	}


	/*estilos 768px*/

	@media only screen and (min-width: 768px){

		* {
			font-size: 100%;
		}

	/*estilos secciones tablet*/

		body {
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: auto auto auto; 
			grid-template-areas: 	"header header header header" 
		 							"main main main aside" 
		 							"footer footer footer footer";
		 	margin: 5px;
		}

		p {
			font-size: 2rem;
		}

		h1 {
			font-size: 3.5rem;
		}

		h2 {
			font-size: 2.5rem;
		}

		header {
			justify-content: space-between;
			margin-bottom: 5px;
			padding: 0px;
			
		}

		nav ul li {
			display: inline-flex;
			font-size: 1.5rem;
			
		}

		aside a {
			margin-left: 5px;
			font-size: 2.5rem;
		}

		main {
			display: inline-block;
			flex-flow: column;
			justify-items: center;
		}

		footer {
			margin-top: 5px;

		}

	/*estilos productos y servicios tablet*/

	.contenedor__fotos {
		display: inline-flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		text-align: center;

	}

	.contenedor__fotos .card {
	background-color: white;
	width: 48%;
	height: 400px;
	}	

	.contenedor__fotos .card img {
	margin: 3px;
	height: 200px;
	
	}
}

	@media only screen and (min-width: 1024px){	

		.logo {
			width: 300px;
			margin-top: 20px;			
		}

		header nav{
			margin-bottom: -50px;
		}		

		aside a {
			font-size: 2.5rem;
		}

		aside ul li {
			margin-top: 15px;
			margin-bottom: 15px;
		}		

		header nav ul li {
			font-size: 3rem;
			margin-left: 10px;
			margin-bottom: 10px;			
		}		

		form {
			font-size: 2rem;
			width: 100%;
			justify-self: center;
		}

		form ::placeholder {
			font-size: 2rem;
		}



		.contenedor__fotos .card {
			background-color: white;
			width: 32%;
			height: 400px;
		}

		.contenedor__fotos .card p {
			font-size: 1.8rem;
		}

		body {
			grid-template-columns: 85% 15%;
			grid-template-rows: auto auto auto; 
			grid-template-areas: 	"header header" 
		 							"main aside" 
		 							"footer footer";
		 	margin: 5px;

}


































	

	